*{
	padding: 0;
	margin: 0
}
body{
	background: white;
}
h1{
	text-align: center;
	background: #1C1C1C;
	color: white;
	padding: 30px
}
h2{
	font size: 300%
}
form{
	width:70%;
	margin: 0px auto;
	border:2px solid black;
	margin-top: 10%;
	font-size: 250%;
}